

@media screen and (max-width:425px) {
    header img {
    width: 70% ;
    height: 13px;
    }
    #enter h1 {
        font-size: 20px;
    }
}

.second .second-text  {
    display: flex;
    flex-direction: column;
}

/* @media screen and max-width(768) {
    
} */