@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Noto+Sans+Khojki&family=Ojuju:wght@200..800&display=swap');

* {
    font-family: "Heebo", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

.container {
    padding: 30px 50px;
}

header {
    background-color: #fff;
    position: sticky;
    padding: 10px 0;
  

    .container {
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                img {
                    max-width: 90%;
                    height: 50px;
                }
            }

            .right {
                i {
                    font-size: 30px;
                    color: black;
                    transition: 0.4s;
                    &:hover {
transform: scale(1.2);
                    }
                }
            }

        }
    }
}

#enter {
    background-image: url(./img/sssss.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
   
            .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        letter-spacing: 5px;
        z-index: 3;
        animation: enter 2s linear;
    }

    @keyframes enter {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;

        }
    }
}

#second {
    .second-text {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left {
            width: 50%;

            h1 {
                margin-bottom: 50px;
                font-weight: 300;

            }
        }

        .right {
            width: 50%;

            p {

                font-weight: 300;
                font-size: 18px;
            }

            p :nth-child(1) {
                margin-bottom: 50px;
            }
        }
    }
}

#third {

    .products {
        width: 90%;
        display: grid;
        grid-template-columns: (5, 1fr);
        grid-template-rows: (5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        h2 {
            font-weight: 200;
            font-size: 30px;
        }

        p {
            font-weight: 100px;
        }

        .div1 {
            overflow: hidden;
            grid-area: 1 / 1 / 2 / 3;
            position: relative;
            transition: 1s;
            height: 100%;

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                }

                .div1-text {
                    bottom: 0;
                    left: 10px;
                }

            }

            .div1-text {
                color: #000;
                position: absolute;
                bottom: -100%;
                left: 0;
                z-index: 9999;
                transition: 1s;
            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transition: 0.5s;
            }
        }

        .div2 {
            overflow: hidden;
            grid-area: 1 / 3 / 2 / 4;
            position: relative;
            transition: 1s;

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                }

                .div2-text {
                    bottom: 0;
                    left: 10px;
                }

            }

            .div2-text {
                color: #000;
                position: absolute;
                bottom: -100%;
                    left: 10px;
                z-index: 9999;
                transition: 1s;
                
            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transition: 0.5s;
            }
        }

        .div3 {
            overflow: hidden;
            grid-area: 2 / 1 / 3 / 2;
            position: relative;
            transition: 1s;
          height: 80%;
            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                }

                .div3-text {
                    bottom: 0;
                    left: 10px;
                }

            }

            .div3-text {
                color: #000;
                position: absolute;
                bottom: -100%;
                left: 0;
                z-index: 9999;
                transition: 1s;
            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transition: 0.5s;
            }
        }

        .div4 {
            overflow: hidden;
            grid-area: 2 / 2 / 3 / 3;
            position: relative;
            transition: 1s;
            height: 80%;
            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                }

                .div4-text {
                    bottom: 0;
                    left: 10px;
                }

            }

            .div4-text {
                color: #000;
                position: absolute;
                bottom: -100%;
                left: 0;
                z-index: 9999;
                transition: 1s;
            }
            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transition: 0.5s;
            }
        }

        .div5 {
            overflow: hidden;
            grid-area: 2 / 3 / 3 / 4;
            position: relative;
            transition: 1s;
            height: 80%;
            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                }

                .div5-text {
                    bottom: 0;
                    left: 10px;
                }

            }

            .div5-text {
                color: #000;
                position: absolute;
                bottom: -100%;
                left: 0;
                z-index: 9999;
                transition: 1s;
            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transition: 0.5s;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
    a {
        color: #000;
        font-size: 30px;
        font-weight: 300;
    }
}


#fourth {
    background-color: #333333 ;
    .text-box {
        .top {
            display: flex;
            padding: 30px 145px;
        }
        .center {
            display: flex;
            padding: 30px 145px;
        }
        .bottom {
            display: flex;
            padding: 30px 145px;
        }
        h1 {
            color: #cbcbcb;
            width: 60%;
            font-weight: 100;
            font-size: 30px;
        }
        p {
            color: #999999;
            width: 40%;
        }
        hr {
          color: #999999;
        }
    }
}


#fiver {
    background-color: #f6f4f4 ;
    .five-text {
        display: flex;
        justify-content: space-between;  
        margin: 50px auto;      
        p {
            width: 43%;
            font-weight: 300;
        }
    }


    .five-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;

        img {
            width: 100%;
            height: 100%;
        }
      
        .div1 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 25px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div2 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div3 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div4 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            text-align: center;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div5 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div6 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div7 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div8 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div9 {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
        .div10  {
            overflow: hidden;
            position: relative;
            background-color: #fff;
            width: 18%;
            height: 200px;
            h2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-weight: 300;
                font-size: 30px;
                z-index: 9999;
                opacity: 0;
                transition: 0.5s;
            }

            &:hover {
                transition: 1s;

                .overlay {
                    opacity: 1;
                    transition: 0.5s;
                }
                h2 {
                    opacity: 1;
                }
               

            }

            .overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: rgba(244, 244, 244, 0.9);
                z-index: 2;
                transform: 0.5s;
            }
        }
      }
    }

#sixth {
    background-color: #e7e7e7;
    .common {
        .top {
            display: flex;
            justify-content: space-between;
            h2 {
                font-weight: 300;
            }
            p {
                width: 45%;
            }
        }

        .center {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;
            div {
                width: 50%;
                height: 100%;
                display: flex;
               align-items: center;

                .box1 {
                    width: 190px;
                    height: 160px;
                    overflow: hidden;
                    a {
                        margin-bottom: 20px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    
                }
                .box2 {
                    flex-wrap: wrap;
                    margin-left: 30px;
                    a {
                        color: #000;
                       
                        &:hover {
                            color: orange;
                        }
                    }
                    p{
                        color: #999999;
                        font-weight: 300;
                    }
                }

              
        }
    }
    .bottom {
        a {
            color: #000;
            font-size: 30px;
            font-weight: 300;
          &:hover {
            color: #625f5f;
          }
          
        }
    }

}
}

footer {
   
    .divs{
    display: flex;
    justify-content: space-between;
    .div1 {
        width: 30%;
        a {
            color: black;
            position: relative;
            &:hover {
                &::after {
                    width: 100%;
                 
                }
                color: orange;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0; 
                height:1px;
                background-color: orange;
                transition: 0.5s;
            }
        }
    }

    .div2 {
        width: 40%;
        text-align: center;
        a {
            color: #000;
        i {
            font-size: 30px;
            transition: 0.2s;
            &:hover {
                
                transition: 0.2s;
                transform: scale(1.1);
            }
        }
    }
    }
    .div3 {
        width: 30%;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                position: relative;
                overflow: hidden;
                &:hover {
                    &::after {
                        width: 100%;
                    }
                    a {
                        color: blue;
                    }
                }
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0; 
                        height: 3px;
                        background-color: blue;
                        transition: 0.4s;
                    }
                a {
                    color: #625f5f;
                    
                    
                }
            }
        }
    }
}
}
    
